@model IEnumerable<SoftwareAPI.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorPropID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActorPropTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorPropID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActorPropTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Number }) |
            @Html.ActionLink("Details", "Details", new { id=item.Number}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Number })
        </td>
    </tr>
}

</table>
